{% extends 'base.html' %} {% block content %}

<div class="p-3">
    <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="simpleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Elige una opción:
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li>
                <a href="#" class="dropdown-item btn btn-outline-light">Cargar documento</a>
            </li>
            <li>
                <a href="#" class="dropdown-item btn btn-outline-light">Frase</a>
            </li>
        </ul>
    </div>
</div>

<div>
    <h1 class="display-2  " style="font-family: 'Flamenco';font-size: 50px;">
        Digite una frase: </h1>

</div>

<div class="form-floating" style="padding: 15px;">
    <textarea class="form-outline w-100" id="floatingTextarea2" style="height: 200px"></textarea>
</div>
<div class="p-3"></div>

{% endblock %}